* {
	margin :0;
	padding :0;
	color : #000;
	font-family : 'Pretendard';
	box-sizing : border-box;
}
a {
    text-decoration: none;
}

header.container {
    width : 100%;
    height : 84px;
    margin-bottom: 80px;
    display : flex;
    align-items : center;
    justify-content : space-between;
    background-color : #fcf1e3;
    font-size : 32px;
    font-weight : 800;
}
header.container > a {
	display: flex;
}
.header__title {
	width : 736px;
    margin : 0px auto;
    color : white;
}
.title {
	margin-left: 5px;
}
section.container{
    width : 736px;
	margin : 0 auto;
}
.description {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 32px;
}
.question {
    width:736px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question-caffeine,
.question-hot,
.question-sweet{
    width:100%;
    height: 300px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 16px 0px #e6e6e6;
    border-radius: 10px;
}
.question a{
    width:350px;
    margin:0px 20px
}
img {
    width : 100%;
    height:80%;
}
.result-btn {
    width:100%;
    display: flex;
    justify-content: center;
}
/*.result-btn > button {*/
/*    font-size: 20px;*/
/*    background-color: beige;*/
/*    padding:20px 30px;*/
/*    border:none;*/
/*    border-radius: 12px;*/
/*    margin-top: 100px;*/
/*}*/
/*.result-btn button:hover {*/
/*    background-color : #ffeabf;*/
/*    transition : 0.2s;*/
/*}*/

/*.result-btn button:active {*/
/*    background-color : #ffca61;*/
/*    transform: scale(1.1);*/
/*}*/
.drink-img {
    position: relative;
}
.drink-desc{
    background-color: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition:all 300ms;
    transform:translateY(10px);
}

.drink-img:hover .drink-desc {
    opacity: 0.7;
    transform:translateY(0);
}
.drink-desc h3 {
    color:white;
    font-size:30px;
    font-weight: 900;
}

/*btn-----------------------------------*/
 .button-82-pushable {
          position: relative;
          border: none;
          background: transparent;
          padding: 0;
          cursor: pointer;
          outline-offset: 4px;
          transition: filter 250ms;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
        }

        .button-82-shadow {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 12px;
          background: hsl(0deg 0% 0% / 0.25);
          will-change: transform;
          transform: translateY(2px);
          transition:
            transform
            600ms
            cubic-bezier(.3, .7, .4, 1);
        }

        .button-82-edge {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 12px;
          background: linear-gradient(
            to left,
            hsl(340deg 100% 16%) 0%,
            hsl(340deg 100% 32%) 8%,
            hsl(340deg 100% 32%) 92%,
            hsl(340deg 100% 16%) 100%
          );
        }

        .button-82-front {
          display: block;
          position: relative;
          padding: 12px 27px;
          border-radius: 12px;
          font-size: 1.1rem;
          color: white;
          background: hsl(345deg 100% 47%);
          will-change: transform;
          transform: translateY(-4px);
          transition:
            transform
            600ms
            cubic-bezier(.3, .7, .4, 1);
        }

        @media (min-width: 768px) {
          .button-82-front {
            font-size: 1.25rem;
            padding: 12px 42px;
          }
        }

        .button-82-pushable:hover {
          filter: brightness(110%);
          -webkit-filter: brightness(110%);
        }

        .button-82-pushable:hover .button-82-front {
          transform: translateY(-6px);
          transition:
            transform
            250ms
            cubic-bezier(.3, .7, .4, 1.5);
        }

        .button-82-pushable:active .button-82-front {
          transform: translateY(-2px);
          transition: transform 34ms;
        }

        .button-82-pushable:hover .button-82-shadow {
          transform: translateY(4px);
          transition:
            transform
            250ms
            cubic-bezier(.3, .7, .4, 1.5);
        }

        .button-82-pushable:active .button-82-shadow {
          transform: translateY(1px);
          transition: transform 34ms;
        }

        .button-82-pushable:focus:not(:focus-visible) {
          outline: none;
        }